/* <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bo otstrap.min.css" /> */
/* <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/boot strap.min.js"></script> */

body {
    background: linear-gradient(to right, rgb(10,180,10), rgb(250,250,20));
    font-family: Helvetica;
}

form {
    background-color: white;
    /* align-items: center; */
    text-align: center;
    /* display: block; */
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    /* min-width: 300px; */
    /* max-width: 99%; */
    /* width: 33%; */
    /* width: auto; */
    height: auto;
    /* max-height: 50%; */
    padding-bottom: 20px;
    box-shadow: rgba(0,0,0,0.2) 0px 3px 5px, inset rgba(0,0,0,0.2) 0px -1px 2px;
    border-radius: 5px;
}

header {
    padding-top: 20px;
}

input[type="text"] {
    width: 90%;
    height: 30px;
}

textarea {
    width: 90%;
    max-width: 90%;
    height: 80px;
}

input[type="submit"] {
    width: 35%;
    height: 30px;
    background-color: navy;
    color: white;
}

input[type="submit"]:hover {
    background-color: mediumseagreen;
    color: navy;
}
    