body {
    font-family: 'Times New Roman', Times, serif;
    margin: 1%;
}

.container {
    display: grid;
    width: 100%;
    margin-top: 1%;
    margin-right: auto;
    margin-left: auto;
    color: white;
}

.col-sm-3 {
    background-color: rgb(70, 66, 66);
    color: lightgray;
    border: white;
    border-style: solid;
    border-width: .1rem;
    border-radius: 5%;
    padding: 1% 0% 5% 1%;
}