body {
    font-family: 'Times New Roman', Times, serif;
    margin: 1%;
}

.grid-container {
    display: grid;
    width: 100%;
    grid-gap: .5rem;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-columns: 1fr 11fr;
    grid-template-areas:    'one one'
                            'two three'
                            'four four'
                            ;
}

.grid-item {
    display: flex;
    background-color: rgb(70, 66, 66);
    color: lightgray;
    padding: .25rem 0rem 1rem .25rem;
    border-radius: 3%;
}

.item1 { grid-area: one; }
.item2 { grid-area: two; }
.item3 { grid-area: three; }
.item4 { grid-area: four; }